body {
	background-image: url(background-image.jpg);
	background-size: cover;
}

h2 {
	color: red;
	background-color: yellow;
	text-align: center;
	border: 5px dashed purple;
	border: 5px solid purple;
	cursor: pointer;
}

li {
	list-style: none;
	display: inline-block;
}

p {
	color: aqua;
	text-align: center;
	border: 5px solid red;
	line-height: 50px
}

img {
	float: right;
}

footer {
	clear: both;
	text-align: center;
}